.category {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.category h2 {
  margin-bottom: 35px;
}

.category .cat {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: 0.3s;
  color: #6c757d;
  cursor: pointer;
}

.category .cat:hover {
  background-color: #b72a67;
  color: #fff;
}

/* Slick slider customizations */
.slick-slide {
  padding: 0 10px;
}

.slick-dots {
  margin-top: 20px;
}

.slick-arrow::before,
.slick-arrow::after {
  padding: 5px;
  color: #a7265e !important;
}

.slick-prev,
.slick-next {
  top: -45px !important;
}

.slick-prev {
  left: 97% !important;
  right: auto !important;
}

.slick-next {
  right: -1% !important;
  left: auto !important;
}

@media (max-width: 1024px) {
  .slick-prev {
    left: 94% !important;
  }
  .slick-next {
    right: 0% !important;
  }
}

@media (max-width: 768px) {
  .slick-prev {
    left: 90% !important;
  }
  .slick-next {
    right: 1% !important;
  }
}

@media (max-width: 480px) {
  .slick-prev {
    left: 85% !important;
  }
  .slick-next {
    right: 2% !important;
  }
}
