.items-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

.items-section .slick-prev,
.items-section .slick-next {
  top: -64px !important;
}

.items-section .item {
  display: flex !important;
  flex-direction: column;
  height: 250px;
  position: relative;
}

.items-section .item .image {
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.items-section .item img {
  max-width: 100%;
  padding: 20px;
  height: 180px;
  transition: 0.3s;
}

.items-section .item img:hover {
  transform: scale(1.08) rotate(5deg);
}



.items-section .item h3 {
  font-weight: 600 !important;
}

.items-section .item .price{
  color: #B72A67;
}

.newItem {
  background-color: #06c954;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}

.item .card-icons {
  position: absolute;
  gap: 8px;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item .card-icons i {
  padding: 8px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.items-section .loadmore-btn {
  background-color: #A7265E;
  border: none;
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 4px;
  transition: .3s;
  font-weight: bold;
}

.items-section .loadmore-btn:hover {
  background-color: #942153;
}

.star.filled i {
  color: #FFAD33;
}

.star.empty i {
  color: #666;
}