.item {
  position: relative;
  display: flex !important;
  flex-direction: column;
  height: 270px;
}

.item .image {
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.item img {
  max-width: 100%;
  padding: 20px;
  height: 180px;
  transition: 0.3s;
}

.item img:hover {
  transform: scale(1.08);
}

.item h3 {
  font-weight: 600 !important;
}

.item .price{
  color: #B72A67;
}


.newItem {
  background-color: #06c954;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.card-icons i {
  font-size: 1.2rem;
}

.text-danger {
  color: #dc3545;
}

.star.filled i {
  color: #FFAD33;
}

.star.empty i {
  color: #666;
}