.product-card {
  position: relative;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
}

.product-image {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.icons,
.add-to-cart {
  position: absolute;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.icons {
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  cursor: pointer;
}

.add-to-cart {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .add-to-cart {
  bottom: 0;
  opacity: 1;
}

.product-card:hover .icons,
.product-card:hover .add-to-cart {
  opacity: 1;
  transform: translateY(0);
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}


.icon.heart {
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.icon.heart.empty {
  color: transparent;
  -webkit-text-stroke: 1px red; /* حدود باللون الأحمر */
}

.icon.heart.filled {
  color: red;
}


@media (max-width: 899px) {
  .related-title {
    display: block;
    text-align: center;
  }
}
