.sidebar-wrapper {
  width: 100%;
  padding: 1rem;
  border-right: 1px solid #dee2e6;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #dee2e6;
  padding-bottom: 0.5rem;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.sidebar-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: none;
  border: none;
  padding: 0.6rem 0.75rem;
  font-weight: 500;
  color: #495057;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 0.5rem;
}



.sidebar-icon {
  font-size: 1.1rem;
  color: #6c757d;
  width: 20px;
  text-align: center;
}

.clicked{
  background-color: #562DDD;
  color: #dee2e6;

}
.category-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.sidebar-banner {
  margin-top: 2rem;
  /* border-radius: 0.5rem; */
  overflow: hidden;
   width: 100%;
  height: 400px;
}


@media (max-width: 768px) {


  

  
  
}
