.main-text {
  color: #562ddd !important;
}

.main-back {
  background-color: #562ddd !important;
  color: white !important;
}

.text-danger {
  color: #dc3545;
}

.star.filled i {
  color: #ffad33;
}

.star.empty i {
  color: #666;
}
